* {
    box-sizing: border-box;
}

.main-div{
    width: 1440px;
    height: 1174px;
    background-color: white;
    padding-top: 85px;
    padding-left: 141px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    line-height: 30.26px;
}
table{
    border-collapse: collapse;
    border: 1px solid #DADADA;
}
tr{
    border: 1px solid #DADADA;
}
th{
    border: 1px solid #DADADA;
}
td{
    border: 1px solid #DADADA;
}
.th1{
    width: 72px;
    height: 57px;
    background-color: #F9F9F9;
}
.th2{
    width: 444px;
    padding-left: 23px;
    text-align: left;
    background-color: #F9F9F9;
}
.th3{
    width: 276px;
    background-color: #F9F9F9;
}
.th4{
    width: 368px;
    background-color: #F9F9F9;
}
.word{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
}
.word1{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
}
.number{
    text-align: center;
}
.date{
    text-align: center;
}
.td4{
    display: flex;
    height: 57px;
    align-items: center;
    border: 0;
}
.yellow-box{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;
    border-radius: 10px;
    margin-left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red-box{
    width: 115px;
    height: 36px;
    background-color: #E84949;
    border-radius: 10px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
}
.delete{
    color: white;
}